/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0000d7;
  --ifm-color-primary-dark: #0000c2;
  --ifm-color-primary-darker: #0000b7;
  --ifm-color-primary-darkest: #000097;
  --ifm-color-primary-light: #0000ed;
  --ifm-color-primary-lighter: #0000f7;
  --ifm-color-primary-lightest: #1919ff;
  --ifm-background-color: #91ff91;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fe52f1;
  --ifm-color-primary-dark: #fe31ee;
  --ifm-color-primary-darker: #fe20ed;
  --ifm-color-primary-darkest: #ea01d8;
  --ifm-color-primary-light: #fe73f4;
  --ifm-color-primary-lighter: #fe84f5;
  --ifm-color-primary-lightest: #ffb6f9;
}
